#principal{
  width: 50vw;
  height: auto;
  background: rgba(248, 249, 249, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top:calc(50vh - 30vh);
  border-radius:5px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
#registro{
  grid-column: 3/6;
}
#Logo{
  grid-column: 1/3;
  background: linear-gradient(#2CF79E,#2CE4F7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 60%;
  height: 50%;
  background-color: transparent;
  border-radius: 50%;
  border-left: 20px solid white;
  border-bottom: 20px solid white;
  border-top:20px solid white;
  border-right: 15px solid transparent;
}
.presentacion{
  width: 10vw;
  height: 60vh;
  background-color: red;
}
#logo-contact{
  position:absolute;
  top: 60px;
  width: 110px;
  height:110px;
  margin-left: calc(160px - 30px);
}
.title{
  text-align: center;
  padding-top: 60px;
}
.icons{
  width:20px;
  height:20px;
  margin-top: 20px;
}
#formulario{
  position:relative;
  width: 30vw;
  height:80%;
  top: 3%;
  text-align: center;
}
input{
  margin-left: 10px;
  width: 60%;
  height: 30px;
  padding-left: 5px;
  background: rgba(248, 249, 249, 0.8);
}
input[type="submit"]{
  width: 50%;
  margin-top: 3rem;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  background-color: #058FFB;
  border-radius:4px;
  padding:3px;
  font-weight: 400;
  margin-bottom: 30px;
}
